# Class Code

In [1]:
# Conditional Statement
age = input("Enter your age: ")
if int(age) >= 21:
    print("You are eligible to vote.")

You are eligible to vote.

In [3]:
# If-Else Statement
age = input("Enter your age: ")
if int(age) >= 21:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

In [6]:
# If-Elif Statement
marks = int(input("Enter your marks: "))
if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

In [7]:
# Nested If Statement
num = int(input("Enter a number: "))
if num > 5:
    if num % 2 == 0:
        print("Even number greater than 5.")
    else:
        print("Odd number greater than 5.")
else:
    print("Number is less than or equal to 5.")

Odd number greater than 5.

In [10]:
# Ternary Operator
age = 30
message = "Adult" if age >= 18 else "Not Adult"
print(message)

Adult

In [11]:
# Match-Case Statement
color = input("Enter a color: ").lower()
match color:
    case 'red':
        print("Stop")
    case 'yellow':
        print("Ready")
    case 'green':
        print("Go")
    case _:
        print("Invalid color")

Go

In [12]:
# For Loop
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [13]:
# Iterating Over a String
fruit = "Apple"
for char in fruit:
    print(char)

A
p
p
l
e

In [14]:
# Iterating Over a Dictionary
data = {"fruit": "Apple", "car": "Suzuki", "city": "Tokyo"}
for key, value in data.items():
    print(f"{key}: {value}")

fruit: Apple
car: Suzuki
city: Tokyo

In [15]:
# Using Range Function
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
# While Loop
count = 0
while count < 5:
    print(f"Count: {count}")
    count += 1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4

In [17]:
# Infinite Loop with Exit Condition
while True:
    user_input = input("Enter 'q' to exit: ")
    if user_input.lower() == 'q':
        print("Exiting the loop...")
        break

Exiting the loop...

In [18]:
# Breaking a Loop
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [20]:
# Nested Loop
for i in range(3):
    for j in range(2):
        print(f"{i} {j}")

0 0
0 1
1 0
1 1
2 0
2 1

In [21]:
# Multiplication Table
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [22]:
# Loop with Else
for i in range(5):
    print(i)
else:
    print("Loop execution completed.")

0
1
2
3
4
Loop execution completed.

In [23]:
# Searching in a List
numbers = [1, 2, 3, 4, 5]
target = 7
for num in numbers:
    if num == target:
        print(f"Found {target}")
        break
else:
    print(f"{target} not found in the list.")

7 not found in the list.

In [24]:
# Function Definition
def greet():
    print("Hello, I am learning Python...")
greet()

def greet_person(name):
    print(f"Hello, {name} is learning Python...")
greet_person("Hammad Ali")

Hello, I am learning Python...
Hello, Hammad Ali is learning Python...

In [25]:
# Function with Default Argument
def display_info(name, age=21):
    print(f"Name: {name}, Age: {age}")
display_info(name="Hammad Ali", age=21)

Name: Hammad Ali, Age: 21

In [26]:
# Function Placeholder
def my_function():
    pass

result = my_function()
print(result)

None

In [27]:
# Arbitrary Arguments
def add_numbers(*args):
    return sum(args)

result = add_numbers(1, 2, 3, 4, 5)
print(result)

15

In [28]:
# Keyword Arguments
def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
print_kwargs(name="Hammad Ali", age=21)

name: Hammad Ali
age: 21

In [29]:
# Lambda Function
square = lambda x: x ** 2
print(square(11))

121