## Class Task

In [1]:
#indentation
if True:
  print("This is my second class of Python language")

#comments
# if True: clt + /
# print("This is my second class of Python language")

This is my second class of Python language

In [5]:
# Variables and Constants
name = "Hammad"  # Both single and double quotes work for strings
age = 22  

PI = 3.14159  # Constant

print("My name is", name)  
print("My age is", age)  

print(PI)

My name is Hammad
My age is 22
3.14159

In [4]:
# Input and Output Functions
user_input_name = input("Enter your name: ")  # Accepting user input
print("My name is", user_input_name)  # Displaying output

print("Data type of input:", type(user_input_name))

My name is Hammad Ali
Data type of input: <class 'str'>

In [6]:
# Primitive Data Types
integer_num = 11
float_num = 11.11
complex_num = 5 + 6j  # Complex number

print("Real part:", complex_num.real)
print("Imaginary part:", complex_num.imag)

Real part: 5.0
Imaginary part: 6.0

In [7]:
# String Operations
text = "This is my second Python class"
print("First letter:", text[0])
print("Specific character:", text[-15])

concatenated_text = "Python " + "Language"
print(concatenated_text)

repeated_text = "Python" * 3
print(repeated_text)

print("Substring (first 4 characters):", text[0:4])
print("Substring (first 23 characters):", text[0:23])

print("Lowercase:", text.lower())
print("Uppercase:", text.upper())

print("Replaced text:", text.replace("Python", "C++"))

First letter: T
Specific character: n
Python Language
PythonPythonPython
Substring (first 4 characters): This
Substring (first 23 characters): This is my second Pytho
Lowercase: this is my second python class
Uppercase: THIS IS MY SECOND PYTHON CLASS
Replaced text: This is my second C++ class

# Collection Data Types

In [9]:
# List Example
numbers_list = [1, 2, 3, 4, 5]
numbers_list.append(6)  # Adding an element

print("Updated list:", numbers_list)
print("List slicing (first 3 elements):", numbers_list[:3])

Updated list: [1, 2, 3, 4, 5, 6]
List slicing (first 3 elements): [1, 2, 3]

In [10]:
# Tuple Example
numbers_tuple = (1, 2, 3, 4, 5)
print("Tuple values:", numbers_tuple)

Tuple values: (1, 2, 3, 4, 5)

In [11]:
# Set Example
numbers_set = {1, 2, 3, 4}
numbers_set.add(5)  # Adding an element to the set

print("Updated set:", numbers_set)

Updated set: {1, 2, 3, 4, 5}

In [12]:
# Dictionary Example
student_info = {"name": "Eashah"}  # Dictionary with key-value pair

student_info['name'] = "Oof"  # Updating value
print("Updated dictionary:", student_info)

student_info['age'] = 26  # Adding a new key-value pair
print("Expanded dictionary:", student_info)

Updated dictionary: {'name': 'Oof'}
Expanded dictionary: {'name': 'Oof', 'age': 26}

In [13]:
# Implicit Type Conversion
num_a = 10
num_b = 10.01

sum_result = num_a + num_b

print("Result after implicit conversion:", sum_result)
print("Data type of result:", type(sum_result))

Result after implicit conversion: 20.009999999999998
Data type of result: <class 'float'>

In [14]:
# Explicit Type Conversion
str_age = "21"
num_c = 11

str_age = int(str_age)  # Converting string to integer

print("Data type after conversion:", type(str_age))

sum_explicit = str_age + num_c  # Performing arithmetic operation
print("Sum after explicit conversion:", sum_explicit)

Data type after conversion: <class 'int'>
Sum after explicit conversion: 32

In [16]:
# Arithmetic Operators
num_x = 15
num_y = 11

print("Addition:", num_x + num_y)
print("Subtraction:", num_x - num_y)
print("Multiplication:", num_x * num_y)
print("Division:", num_x / num_y)
print("Floor Division:", num_x // num_y)
print("Modulus:", num_x % num_y)
print("Exponentiation:", num_x ** num_y)  # num_x raised to power num_y

Addition: 26
Subtraction: 4
Multiplication: 165
Division: 1.3636363636363635
Floor Division: 1
Modulus: 4
Exponentiation: 8649755859375

In [17]:
# Comparison Operators
num_m = 11
num_n = 5

print("Equal:", num_m == num_n)
print("Not Equal:", num_m != num_n)
print("Greater than:", num_m > num_n)
print("Less than:", num_m < num_n)

Equal: False
Not Equal: True
Greater than: True
Less than: False

In [18]:
# Logical Operators
val_p = True
val_q = False

print("AND Operation:", val_p and val_q)
print("OR Operation:", val_p or val_q)
print("NOT Operation:", not val_p)

AND Operation: False
OR Operation: True
NOT Operation: False

In [20]:
# Assignment Operators
val_a = 10
val_a += 5  # val_a = val_a + 5
val_a -= 5  # val_a = val_a - 5
val_a *= 5  # val_a = val_a * 5
val_a /= 5  # val_a = val_a / 5

print("Final value after assignment operations:", val_a)

Final value after assignment operations: 10.0

In [21]:
# String Length Function
word = "Python"
print("Length of the word:", len(word))

Length of the word: 6

In [23]:
# Split Function
sentence_text = "Python:Language"
print("Splitting string:", sentence_text.split(':'))

Splitting string: ['Python', 'Language']

In [24]:
# Random Module Usage
import random

print("Random integer between 1 and 10:", random.randint(1, 10))
print("Random float between 0 and 1:", random.random())
print("Another random integer between 1 and 10:", random.randint(1, 10))

items_list = ['Apple', 'Banana']
print("Random choice from list:", random.choice(items_list))

Random integer between 1 and 10: 8
Random float between 0 and 1: 0.40542646807380667
Another random integer between 1 and 10: 7
Random choice from list: Apple